<div class="page-header">
  <h1>About cozy Surfers <small id="small"> Learn more about the Berlin Surf Community</small></h1>
  <p>Berlin has a big community of surfers but not enough surf shops and no meeting spot. We wanted to change that and create cozy Surfers. Here you can connect with other surfers in Berlin, share experiences about surf trips, sell or buy surf boards and order surf equipment.</p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("fixBoard.jpg", size: "400x400", class: "img-responsive") %>
      <div class="caption">
        <h3>The Community</h3>
        <p>You want to connect with other surfers in Berlin and hang out? Or plan surf trips together with friends? Join our community of cozy Surfers in Berlin and have all the advantages of a membership. </p>
        <%= link_to 'login', new_user_session_path, class: "btn btn-primary", id: "button" %>
        <%= link_to 'BECOME A MEMBER', new_user_session_path, class: "btn btn-primary", id: "button" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("workshop.jpg", size: "400x400", class: "img-responsive") %>
      <div class="caption">
        <h3>Your Surf Shop</h3>
        <p>In our online Surf Shop you can find any equipment for surfing. You can sell your own boards and other things as well.</p>
        <%= link_to 'SURF SHOP', products_path, class: "btn btn-primary", id: "button" %>
        <%= link_to 'SELL SOMETHING HERE', products_new_path, class: "btn btn-primary", id: "button" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("boardDesign.jpg", size: "400x400", class: "img-responsive") %>
      <div class="caption">
        <h3>Events</h3>
        <p>Many events about surfing are happening in Berlin and elsewhere. Come and find out, if there is something for you. Meet cool people in your City and never miss an event again!</p>
        <%= link_to 'REGISTER FOR EVENT', new_user_session_path, class: "btn btn-primary", id: "button" %>
        <%= link_to 'SEE MORE', root_path, class: "btn btn-primary", id: "button" %>
      </div>
    </div>
  </div>
</div>



