<div class="row">
  <div class="col-xs-6">
    <div class="detailBox">
      <div class="actionBox">
        <ul class="commentList">
          
      <li>
        <div class="commenter-image">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
          <div class="commentText">
            <h4 class="media-heading"><%= comment.commenter %></h4>
            <p>
        		  <b>Comment:</b>
        		  <%= comment.body %>
              <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
        		</p>
            <div class="rating">
              <div class="rated" data-score="<%= comment.rating %>"></div>

             
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
    </div>
  </div>
</div>

<% if signed_in? && current_user.admin? %>
  <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>