<p id="notice"><%= notice %></p>


<div class="jumbotron" id="surfshop">
  <div class="container">
    <h1>Surf Shop</h1>
    <p>Browse for your perfect surf equipment. You can also sell your boards and eqipment here.</p>
  </div>
</div>



<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <%= image_tag(product.image_url, size: "400x400", class: "img-responsive") %>
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <p><%= product.color %></p>
        <p><%= product.price %></p>
        <div class="btn btn-default"><%= link_to 'Buy', orders_path %></div>
        <div class="btn btn-info"><%= link_to 'Show', product %></div>
        <div class="btn btn-default"><%= link_to 'Edit', edit_product_path(product) %></div>
        <div class="btn btn-danger"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Product', new_product_path %>

